@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

body {
    font: 15px arial, sans-serif;
}

article {
    position: absolute;
    left: 50%;
    width: 95%;
    transform: translateX(-50%);
}

#main-title {
    margin: 50px;
    font-family: 'Hanna';
    background-color: white;
    color: black;
    font-size: 70px;
    text-align: center;
}

h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 24px;
    background-color: #999;
    color: #fff;
}

table {
    margin:0 auto;
    text-align:center;
}

th, td {
    padding: 5px;
    border: 1px solid #999;
}

th {
    background: #ccc;
}

tr:nth-child(odd) {
    background: #eee;
}

td a {
    color: #000;
    text-decoration: underline;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: bottom right 15% no-repeat #46B6AC;
}

.mdl-button {
    width: 10px;
    padding: 0px;
}

.todo {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: none;
}

#todo-zone {
    margin:0 auto;
    text-align:center;
}

#index-zone {
    margin:0 auto;
    text-align:center;
}

.completed-button {
    width: 130px;
}

.selected {
    background-color: rgba(158,158,158,.2);
}

.mdl-button.disabled {
    color: black;
}
